:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #000080;
  --color-primary-light: #333399;
  --color-primary-lighter: #999fcb;
  --color-primary-lightest: #cccfe5;
  --color-primary-extra-light: #e5e6f2;
  --color-secondary: #ff5e59;
  --color-secondary-light: #ffa19d;
  --color-secondary-lighter: #ffd0ce;
  --color-secondary-lightest: #ffe8e6;
  --color-tertiary: #ffd2c3;
  --color-tertiary-light: #ffdbcf;
  --color-tertiary-lighter: #ffede7;
  --color-tertiary-lightest: #fff6f3;
  --color-neutral: #595757;
  --color-neutral-light: #acaba8;
  --color-neutral-lighter: #dedcda;
  --color-neutral-lightest: #f2f0f1;
  --color-neutral-extra-light: #faf8f8;
  --color-neutral-transparent: rgba(88, 87, 87, 0.05);
  --color-feedback-success: #00855f;
  --color-feedback-success-light: #40a487;
  --color-feedback-success-lighter: #80c2af;
  --color-feedback-success-lightest: #c0e1d7;
  --color-feedback-success-extra-light: #e0f0eb;
  --color-feedback-warning: #d39f00;
  --color-feedback-warning-light: #e6b800;
  --color-feedback-warning-lighter: #f2d600;
  --color-feedback-warning-lightest: #f7ebcc;
  --color-feedback-warning-extra-light: #fdf5e6;
  --color-feedback-alarm: #d53939;
  --color-feedback-alarm-light: #e75252;
  --color-feedback-alarm-lighter: #ef6868;
  --color-feedback-alarm-lightest: #f7bcbc;
  --color-feedback-alarm-extra-light: #fdeaea;
  --color-support-green: #d7eecb;
  --color-support-blue: #bdd4f0;
  --color-support-lime: #ebf0c8;
  --color-support-violet: #c8aebf;
  --color-support-violet-light: #e3d6df;
  --color-support-blue-light: #ccdef1;
  --color-support-yellow: #ffebaa;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 40px;
  --font-bold: 500;
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 16px;
  --border-radius-l: 24px;
  --border-radius-xl: 32px;
}